root = true

[*]
charset = utf-8 # UTF-8 with no BOM is typically standard.
end_of_line = lf # LF, always. Gives better portability.
indent_size = tab # Set number of columns to tab width.
indent_style = tab # Accessibility: https://adamtuttle.codes/blog/2021/tabs-vs-spaces-its-an-accessibility-issue/
insert_final_newline = true # Unix relic. Most IDEs do this anyway.
max_line_length = 120
tab_width = 4 # Set for continuation indent size. Users may override locally.
trim_trailing_whitespace = true # Gets rid of unnecessary indentation, and IJ ignores this anyway.
# IDE-specific Settings
# Note: Turn on Smart Tabs!
ij_java_continuation_indent_size = 8 # Should be twice the tab width (8 for 4 columns, 16 for 8)
ij_json_continuation_indent_size = 2 # Should be the tab size
ij_toml_continuation_indent_size = 4 # Should be the tab size

[*.json]
tab_width = 2
